<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Varthana</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="navigateBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <h1 class="Title">Dash Board</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card button (click)="showWeeklyPieChart()">
          <ion-card-header>
            <ion-card-subtitle>Weekly signup</ion-card-subtitle>
            <ion-card-title>Pie Chart</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card button (click)="showFetchedData()">
          <ion-card-header>
            <ion-card-title>Fetched Api Details</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card button (click)="showLoanDetails()">
          <ion-card-header>
            <ion-card-title>Loan History</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
