<ion-header>
  <ion-toolbar>
    <ion-title>Varthana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item lines="full">
          <ion-label position="stacked" color="primary">Email Id</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        >
          Please enter a valid email.
        </ion-text>

        <ion-item lines="full">
          <ion-label position="stacked" color="primary">Password</ion-label>
          <ion-input
            formControlName="password"
            [type]="passwordType"
          ></ion-input>
          <ion-icon
            class="eyeIcon"
            [name]="passwordShown ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword()"
          ></ion-icon>
        </ion-item>

        <ion-text
          color="danger"
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        >
          Password is required.
        </ion-text>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button
              type="submit"
              [disabled]="loginForm.invalid"
              expand="block"
              >Log In</ion-button
            >
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <ion-button (click)="navigateToSignUp()" expand="block" fill="clear"
              >Create Account</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
