<ion-header>
  <ion-toolbar>
    <ion-title>Varthana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="navigateBack()"
    ><ion-icon name="arrow-back-outline"></ion-icon
  ></ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">API Fetch</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of signupDetails" lines="full">
      <ion-label>
        <h2>{{ user.name }}</h2>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
