<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Weekly Signup Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="navigateToDashBoard()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <h2 class="title">Pie Charts</h2>
  <div class="chart-container">
    <h3 class="chart-title">Today's Signups Pie Chart</h3>
    <canvas id="signupChartToday"></canvas>
  </div>
  <div class="chart-container">
    <h3 class="chart-title">Weekly Signups Pie Chart</h3>
    <canvas id="signupChartWeekly"></canvas>
  </div>

  <h2 class="title">Today's Signups</h2>
  <ion-accordion-group>
    <ng-container *ngFor="let signup of todaySignups">
      <ion-accordion [value]="signup.email">
        <ion-item slot="header">
          <ion-icon
            name="{{ signup.gender === 'male' ? 'male-outline' : 'female-outline' }}"
            [class.maleIcon]="signup.gender === 'male'"
            [class.femaleIcon]="signup.gender === 'female'"
          ></ion-icon>
          <ion-label>{{ signup.name }}</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-label>{{ signup.email }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Phone Number:</ion-label>
            <ion-label>{{ signup.phone_Number }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ng-container>
  </ion-accordion-group>

  <h2 class="title">Last Two Days Signups</h2>
  <ion-accordion-group>
    <ng-container *ngFor="let signup of lastTwoDaysSignups">
      <ion-accordion [value]="signup.email">
        <ion-item slot="header">
          <ion-icon
            name="{{ signup.gender === 'male' ? 'male-outline' : 'female-outline' }}"
            [class.maleIcon]="signup.gender === 'male'"
            [class.femaleIcon]="signup.gender === 'female'"
          ></ion-icon>
          <ion-label>{{ signup.name }}</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-label>{{ signup.email }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Phone Number:</ion-label>
            <ion-label>{{ signup.phone_Number }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ng-container>
  </ion-accordion-group>
</ion-content>
