.maleIcon {
  color: #3880ff;
}

.femaleIcon {
  color: #ff69b4;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.chart-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f3f4f6;
  border-radius: 10px;
}

.chart-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: #3880ff;
}

